.ui-textarea {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__wrapper {
    position: relative;
    display: flex;

  }

  &__input {
    display: inline-flex;
    flex-grow: 1;
    min-height: 88px;
    padding: 11px 50px 11px 16px;
    border: 1px solid var(--color-Text-Light-Grey);
    border-radius: 10px;
    outline: 2px solid transparent;
    line-height: 24px;
    transition: all 0.3s;

    &:focus {
      border-color: var(--color-Secondary-Blue);
      outline-color: var(--color-Secondary-Blue-45);
    }

    &:disabled {
      cursor: no-drop;
    }
  }

  &__label {
    color: var(--color-Text-Light-Grey);
    line-height: 20px;
  }

  &__helper-text {
    color: var(--color-Text-Dark-Grey);
    font-size: 16px;
    line-height: 22px;
  }
}