.ui-icon {
	display: inline-flex;

	&--size-16 {
		width: 16px;
		min-width: 16px;
		height: 16px;
		min-height: 16px;
	}

	&--size-24 {
		width: 24px;
		min-width: 24px;
		height: 24px;
		min-height: 24px;
	}

	&--size-32 {
		width: 32px;
		min-width: 32px;
		height: 32px;
		min-height: 32px;
	}

	&--size-64 {
		width: 64px;
		min-width: 64px;
		height: 64px;
		min-height: 64px;
	}

	&--size-82 {
		width: 82px;
		min-width: 82px;
		height: 82px;
		min-height: 82px;
	}
}