.ui-button {
  position: relative;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: all 0.3s;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;

  font-size: 14px;
  line-height: 20px;

  &--size-auto {
    padding: 2px;
    border-radius: 8px;
  }

  &--size-s {
    padding: 8px;
    border-radius: 8px;
  }

  &--size-m {
    min-height: 42px;
    border-radius: 10px;
    padding: 13px 16px;
  }

  &--size-l {
    border-radius: 10px;
    padding: 13px 50px;
  }

  &--has-icon {
    padding: 13px 50px;
  }

  &--theme-primary {
    background-color: var(--color-Primary-Red);
    color: var(--color-button-text);

    &:hover {
      opacity: 0.85;
    }
  }

  &--theme-outline {
    border-color: var(--color-Secondary-Light-Red);
    background-color: transparent;
    color: var(--color-Secondary-Light-Red);

    &:hover {
      border-color: var(--color-Primary-Red);
      color: var(--color-Primary-Red);
    }
  }

  &--theme-plain {
    border-color: var(--color-Text-Line-Grey);
    background-color: transparent;
    color: var(--color-Text-Grey);

    &:hover {
      border-color: var(--color-Text-Line-Grey);
      color: var(--color-text);
    }
  }

  &--theme-clear {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    color: currentColor;
  }

  &--format-square {
    padding: 0px;
    min-width: 42px;
    aspect-ratio: 1 / 1;
  }

  &--format-circle {
    border-radius: 50%;
    padding: 0px;
    min-width: 42px;
    aspect-ratio: 1 / 1;
  }

  &:hover {
    transition: all 0.3s;
    cursor: pointer;
  }

  &--disabled {
    border-color: var(--color-Text-Line-Grey);
    background-color: transparent;
    color: var(--color-Text-Grey);
    cursor: no-drop;

    &:hover {
      border-color: var(--color-Text-Line-Grey);
      color: var(--color-text);
      cursor: no-drop;
    }
  }

  &__icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    &--end {
      left: auto;
      right: 16px;
    }
  }
}