:root {
  --color-Primary-Red: rgb(217, 14, 50);
  --color-Primary-Dark-Red: #A60933;
  --color-Primary-Dark: #282828;
  --color-Primary-Light-Gray: rgb(243, 246, 248);
  --color-Primary-White: #FFFFFF;

  --color-Text-Black: #293148;
  --color-Text-Dark-Grey: rgba(41, 49, 72, 0.8);
  --color-Text-Grey: rgba(41, 49, 72, 0.6);
  --color-Text-Light-Grey: rgba(41, 49, 72, 0.45);
  --color-Text-Line-Grey: #E4E4E4;
  --color-Text-White: #FFFFFF;
  --color-Text-White-45: rgba(255, 255, 255, 0.45);
  --color-Text-White-20: rgba(255, 255, 255, 0.2);

  --color-Secondary-Dark-Red: #59051C;
  --color-Secondary-Light-Red: #E86E84;
  --color-Secondary-Blue: rgba(120, 149, 255, 1);
  --color-Secondary-Blue-45: rgba(120, 149, 255, 0.45);
  --color-Secondary-Green: #7FC75E;
  --color-Secondary-Gray: #EDEDED;
  --color-Secondary-Gray: #EDEDED;
}

:root {
  --color-background: var(--color-Text-Line-Grey);
  --color-text: var(--color-Text-Black);
  --color-button-text: var(--color-Text-White);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-Primary-Dark);
    --color-text: var(--color-Text-White);
    --color-button-text: var(--color-Text-White);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  overflow-y: scroll;
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-text);
  font-family: "DM Sans", sans-serif;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}