@import "reset-css";
@import "./base.css";
@import "./mixins.scss";

#app {
  @include media-breakpoint-up(md) {
    font-size: 12px;
    line-height: 18px;
  }
  margin: 0 auto;
  padding: 0;
  background-color: var(--color-Text-Line-Grey);
  font-weight: normal;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  line-height: 24px;
}

h1,
.h1 {
  @include media-breakpoint-up(md) {
    font-size: 32px;
    line-height: 38px;
  }
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

h2,
.h2 {
  @include media-breakpoint-up(md) {
    font-size: 24px;
    line-height: 28px;
  }
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

h3,
.h3 {
  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 24px;
  }
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.navigation-1 {
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 20px;
  }
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.text-1 {
  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 24px;
  }
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.text-2 {
  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 24px;
  }
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.text-3 {
  @include media-breakpoint-up(md) {
    font-size: 15px;
    line-height: 22px;
  }
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
}

.text-4 {
  @include media-breakpoint-up(md) {
    font-size: 15px;
    line-height: 22px;
  }
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}

.text-5 {
  @include media-breakpoint-up(md) {
    font-size: 15px;
    line-height: 22px;
  }
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  border: none;
  border-top: 2px solid var(--color-Text-Line-Grey);
}

a,
.link {
  color: var(--color-Secondary-Light-Red);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--color-Primary-Red);
    transition: color 0.3s;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col-8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.flex-col-16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flex-8 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.flex-center-8 {
  display: flex;
  gap: 8px;
  align-items: center;
}

.flex-16 {
  display: flex;
  gap: 16px;
}

.flex-center-16 {
  display: flex;
  gap: 16px;
  align-items: center;
}

.grid-8-8 {
  display: grid;
  grid-template-columns: repeat(16, min-content);
  gap: 8px;
}
