@import 'reset-css';
@import './base.css';


#app {
  margin: 0 auto;
  padding: 0;
  background-color: var(--color-Text-Line-Grey);
  font-weight: normal;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 18px;
  }
}

h1,
.h1 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 38px;
  }
}

h2,
.h2 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 28px;
  }
}

h3,
.h3 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.navigation-1 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.text-1 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.text-2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.text-3 {
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 15px;
    line-height: 22px;
  }
}

.text-4 {
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 15px;
    line-height: 22px;
  }
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  border: none;
  border-top: 1px solid var(--color-Text-Line-Grey);
}

a,
.link {
  color: var(--color-Secondary-Light-Red);
  transition: color 0.3s;
  text-decoration: none;

  &:hover {
    transition: color 0.3s;
    color: var(--color-Primary-Red);
  }
}

.flex-col-8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.flex-col-16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flex-8 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.flex-center-8 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.flex-16 {
  display: flex;
  gap: 16px;
}

.grid-8-8 {
  display: grid;
  grid-template-columns: repeat(16, min-content);
  gap: 8px;
}

// animation

@keyframes fade-out {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}