@import 'reset-css';
@import './base.css';


#app {
  margin: 0 auto;
  padding: 0;
  background-color: var(--color-Text-Line-Grey);
  font-weight: normal;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1,
.h1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

h3,
.h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.text-1 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.text-2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.text-3 {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

.text-4 {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

a {
  color: var(--color-Secondary-Light-Red);
  transition: color 0.3s;
  text-decoration: none;

  &:hover {
    transition: color 0.3s;
    color: var(--color-Primary-Red);
  }
}


.flex-col-8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.flex-col-16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flex-8 {
  display: flex;
  gap: 8px;
}

.flex-center-8 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.flex-16 {
  display: flex;
  gap: 16px;
}

.grid-8-8 {
  display: grid;
  grid-template-columns: repeat(16, min-content);
  gap: 8px;
}